<div class="pg-background">
    <h1 class="title">Новая категория</h1>
    <div class="main-window">
      <div class="titlee">
        <h2>Основная информация</h2>
      </div>
      <div class="spisok">
        <div class="item">
          <h2>Название</h2>
          <input type="text" class="text-field" [(ngModel)]="newCategory.name">
        </div>
        <div class="experience">
          <h2>Анализы</h2>
          <div class="connector" (click)="toggleDropdown()">
            <input type="text" placeholder="Выберите анализы" readonly>
            <img src="assets/admin-data/icons/check.svg" alt="">
          </div>
          <div *ngIf="isDropdownOpen" class="OpenList">
            <p class="topP">Выберите анализы</p>
            <div class="listok">
              <label class="candidat" *ngFor="let analysis of analyses">
                <input type="checkbox" class="checkbox" [value]="analysis.id" [(ngModel)]="selectedAnalyses[analysis.id]" (change)="onAnalysisChange($event, analysis.id)">
                <p>{{ analysis.name }} ({{ analysis.price }} руб.)</p>
              </label>
            </div>
            <button class="apply-button" (click)="applySelectedAnalyses()">Применить</button>
          </div>
        </div>
        <div class="item-opis">
          <h2>Описание</h2>
          <textarea class="text-area" [(ngModel)]="newCategory.description"></textarea>
        </div>
      </div>
      <button class="save" (click)="addCategory()">Добавить категорию</button>
    </div>
  </div>
  