<div class="page-background">
    <div class="route">Главная / Специалисты</div>
    <div class="categories">
        <select
            id="doctorCategory"
            class="custom-select-one"
            (change)="onCategoryChange($event)"
        >
            <option [value]="'all'" selected>Все категории</option>
            <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
            </option>
        </select>
    </div>
    <div class="main" >
        <div class="specialist" *ngFor="let specialist of displayDoctors">
            <div class="spec-wrapp" (click)="goToDoctor(specialist.id)">
                <div class="avatarka">
                    <img [src]="specialist.photo || 'assets/default-avatar.png'" alt="Фото специалиста" />
                </div>
                <div class="main-info">
                    <div class="main-top">
                        <div class="main-top-info">
                            <h2 (click)="goToDoctor(specialist.id)">
                                {{ specialist.full_name }}
                            </h2>
                            <p>Должность: {{specialist.specialties[0].specialty_name || 'Не указан'}} </p>
                            <p>Стаж: {{ specialist.experiance || 'Не указан' }} лет</p>
                            <p>{{specialist.price}}</p>
                        </div>
                        <p class="main-desc">{{ specialist.reviews?.[0]?.content || 'Нет отзывов' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>