<div class="page-background">
    <div class="route">Главная / Специалисты</div>
    <div class="categories">
        <select
            id="doctorCategory"
            class="custom-select-one"
            (change)="onCategoryChange($event)"
        >
            <option [value]="'all'" selected>Все категории</option>
            <option *ngFor="let category of categories" [value]="category">
                {{ category }}
            </option>
        </select>
        <div class="second-row">
            <select
                id="experience"
                class="custom-select-two"
                (change)="filterDoctorsByExperience($event)"
            >
                <option value="" selected>Любой стаж</option>
                <option
                    *ngFor="let experience of experiences"
                    [value]="experience"
                >
                    {{ experience }}
                </option>
            </select>

            <div class="checkbox-container">
                <input
                    type="checkbox"
                    id="homeVisit"
                    class="custom-checkbox"
                    (click)="toggleHouseCallDoctors()"
                />
                <label for="homeVisit" class="custom-label">Вызов на дом</label>
            </div>
        </div>
    </div>
    <div class="main">
        <div
            class="specialist"
            *ngFor="let specialist of getDisplayDoctors; let j = index"
        >
            <div class="spec-wrapp">
                <div class="avatarka">
                    <img src="{{ specialist.photo }}" alt="" />
                </div>
                <div class="main-info">
                    <div class="main-top">
                        <div class="main-top-info">
                            <h2 (click)="goToDoctor(specialist.id)">
                                {{ specialist.full_name }}
                            </h2>
                            <p>
                                {{ specialist.education[0].name }}
                            </p>
                            <p>Стаж: {{ specialist.experiance }}</p>
                        </div>
                        <app-choose-time
                            class="choose-time-desc"
                            [doctorData]="specialist"
                        ></app-choose-time>
                    </div>
                    <div class="main-desc">
                        <!-- <p>{{ specialist }}</p> -->
                    </div>
                </div>
            </div>
            <app-choose-time
                class="choose-time-mob"
                [doctorData]="specialist"
            ></app-choose-time>
        </div>
    </div>
</div>
