<div class="pg-background">
    <h1 class="title">Анализы</h1>
    <div class="functions">
        <button>+ Добавить анализ</button>
        <div class="search-container">
            <input type="search" placeholder="Напишите, чтобы найти">
            <img src="../../../../../assets/admin-data/icons/лупа.svg" alt="Search Icon">
        </div>
    </div>
    <div class="main-window">
        <div class="main-button">
            <button class="select-all">Выбрать все</button>
            <button class="delete-selected">Удалить выбранные</button>
        </div>
    </div>
</div>