<div class="main-top-header">
    <div class="left-part">
        <img class="logo" src="../../../../../assets/admin-data/icons/лого.svg" alt="">
        <img src="../../../../../assets/admin-data/icons/КЛИНИКА-03.svg" alt="">
    </div>
    <div class="right-part">
        <img src="../../../../../assets/admin-data/icons/уведомления.svg" alt="">
        <img class="img2" src="../../../../../assets/admin-data/images/image 1.png" alt="">
        <h2>Михаил <img class="arrow-down " src="../../../../../assets/admin-data/icons/Vector 1.svg" alt=""></h2>
    </div>
</div>