<div class="emergency-service">
    <div class="side">
        <img
            *ngFor="let i of [1, 2, 3]"
            src="assets/data/icon/header/romb.svg"
            alt=""
        />
    </div>
    <div class="number">
        <p>Экстренный вызов:</p>
        <div class="num-con">
            <a class="two" href="tel:+88552250503">8(8552) 25-05-03</a>
            <a class="two" href="tel:+89999999999">8(999) 999-99-99</a>
        </div>
    </div>
    <div class="side side-2">
        <img
            *ngFor="let i of [1, 2, 3]"
            src="assets/data/icon/header/romb.svg"
            alt=""
        />
    </div>
</div>
