<div class="pg-background">
    <h1 class="title">Изменить услугу</h1>
    <div class="main-window">
      <div class="titlee">
        <h2>Основная информация</h2>
      </div>
      <div class="spisok">
        <div class="item">
          <h2>Услуга</h2>
          <input type="text" class="text-field" [(ngModel)]="service.name">
        </div>
        <div class="item">
          <h2>Стоимость</h2>
          <input type="text" class="text-field" [(ngModel)]="service.price">
        </div>
        <div class="item">
          <h2>Специалист</h2>
          <select class="text-field" [(ngModel)]="service.speciality">
            <option *ngFor="let specialization of specializations" [value]="specialization.name">{{ specialization.name }}</option>
          </select>
        </div>
      </div>
      <button class="save" (click)="saveChanges()">Сохранить изменения</button>
    </div>
  </div>
  