<div class="colm-vert--cent main-cover">
    <div class="main-title">
        <h1>Забота о вашем здоровье —наш приоритет</h1>
    </div>
    <button
        class="btn-make-appointment"
        type="button"
        (click)="scrollToSection('req-record')"
    >
        Записаться на прием
    </button>
    <div class="main-contact">
        <div class="contact-whatsapp">
            <img src="assets/data/icon/network/whatsapp-base.svg" alt="" />
        </div>
        <div class="online-appointment" (click)="openAppointment()">
            <div>Онлайн-запись</div>
        </div>
    </div>
</div>

<ng-container *ngIf="isOpenAppointment">
    <app-appointment-by-choice
        (appointmentConfirmed)="openAppointment()"
    ></app-appointment-by-choice>
</ng-container>
