<div class="page-background">
    <div class="doctor-wrapper">
        <div class="route">
            Главная / Специалисты / Гастроэнтеролог /
            {{ doctorData.doctor.fullname }}
        </div>
        <div class="doctor">
            <div class="doctor-block">
                <div class="doctor-block_info">
                    <img src="{{ doctorData.doctor.image }}" alt="" />
                    <div class="doctor-block_info-desc">
                        <p class="doctor-block_info-name">
                            {{ doctorData.doctor.fullname }}
                        </p>
                        <p>Специальности: {{ doctorData.specialties }}</p>
                        <p class="doctor-block_info-experience">
                            Стаж:
                            {{
                                getExperienceText(doctorData.doctor.experience)
                            }}
                        </p>
                        <p class="doctor-block_info-phone">
                            + {{ doctorData.doctor.phone_number }}
                        </p>
                    </div>
                </div>
                <div class="doctor-block_record">
                    <div class="date-wrapp">
                        <p class="select-time">Выберите время:</p>
                        <div class="date-block" #dateBlock>
                            <div
                                class="empty-arrow"
                                *ngIf="isOpenDayDoctor.currentIndex <= 0"
                            ></div>
                            <div
                                class="arrow"
                                (click)="scrollLeft()"
                                *ngIf="isOpenDayDoctor.currentIndex > 0"
                            >
                                <svg
                                    width="6"
                                    height="8"
                                    viewBox="0 0 6 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M4.8703 7.93594C4.93749 7.93594 5.00625 7.90937 5.05781 7.85781C5.16094 7.75469 5.16094 7.58594 5.05781 7.48281L1.52813 3.95312L5.00625 0.474998C5.10938 0.371873 5.10938 0.203124 5.00625 0.0999985C4.90313 -0.00312662 4.73438 -0.00312662 4.63125 0.0999985L0.964062 3.76562C0.860937 3.86875 0.860937 4.0375 0.964062 4.14062L4.68125 7.85781C4.73437 7.91094 4.80155 7.93594 4.8703 7.93594Z"
                                        fill="#0081EC"
                                    />
                                </svg>
                            </div>
                            <div
                                *ngFor="
                                    let day of isOpenDayDoctor.displayedSlots;
                                    let i = index
                                "
                                class="date"
                                (click)="selectDay(i)"
                                [class.selected]="
                                    isOpenDayDoctor.days[i].isSelect
                                "
                            >
                                <p>{{ getDayOfWeekAndMonth(day) }}</p>
                                <p>{{ day | date : "dd" }}</p>
                            </div>
                            <div
                                class="empty-arrow"
                                *ngIf="
                                    isOpenDayDoctor.currentIndex + 7 ===
                                        isOpenDayDoctor.lenght ||
                                    isOpenDayDoctor.lenght <= 7
                                "
                            ></div>
                            <div
                                class="arrow"
                                (click)="scrollRight()"
                                *ngIf="
                                    isOpenDayDoctor.currentIndex + 7 !==
                                        isOpenDayDoctor.lenght &&
                                    isOpenDayDoctor.lenght > 7
                                "
                                style="transform: rotate(180deg)"
                            >
                                <svg
                                    width="6"
                                    height="8"
                                    viewBox="0 0 6 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M4.8703 7.93594C4.93749 7.93594 5.00625 7.90937 5.05781 7.85781C5.16094 7.75469 5.16094 7.58594 5.05781 7.48281L1.52813 3.95312L5.00625 0.474998C5.10938 0.371873 5.10938 0.203124 5.00625 0.0999985C4.90313 -0.00312662 4.73438 -0.00312662 4.63125 0.0999985L0.964062 3.76562C0.860937 3.86875 0.860937 4.0375 0.964062 4.14062L4.68125 7.85781C4.73437 7.91094 4.80155 7.93594 4.8703 7.93594Z"
                                        fill="#0081EC"
                                    />
                                </svg>
                            </div>
                        </div>

                        <div
                            class="time-wrapper"
                            [style.width.px]="dateBlock.offsetWidth"
                        >
                            <div
                                class="time-slots"
                                *ngIf="
                                    isOpenDayDoctor.days[
                                        isOpenDayDoctor.currentView
                                    ].isSelect
                                "
                            >
                                <div
                                    *ngFor="
                                        let time of doctorData.slot_date[
                                            isOpenDayDoctor.days[
                                                isOpenDayDoctor.currentView
                                            ].day
                                        ];
                                        let c = index
                                    "
                                    class="time-slot"
                                    [class.selected]="
                                        isOpenDayDoctor.days[
                                            isOpenDayDoctor.currentView
                                        ].slot[c]
                                    "
                                    (click)="selectTimeSlot(time)"
                                >
                                    {{ time }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education">
                <h2 class="name">Квалификация и образование</h2>
                <div *ngFor="let ed of doctorData.qualification">
                    {{ ed.year }} - {{ ed.education_name }}
                </div>
            </div>
            <div class="reviews">
                <h2 class="name">Отзывы</h2>
                <div *ngFor="let review of doctorData.reviews" class="review">
                    <div class="review-left-side">
                        <p class="pacient">
                            Пациент <br class="pacient-br" />{{
                                review.phone | phoneFormat
                            }}
                        </p>
                        <p class="date">{{ review.date | reviewDate }}</p>
                    </div>
                    <div class="review-rigth-side">
                        <p class="history">История пациента</p>
                        <p>{{ review.description }}</p>
                        <div class="was-reception">
                            <svg
                                width="12"
                                height="12"
                                viewBox="0 0 12 12"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M6 6H8.5V8.5H6V6ZM9.5 1.5H9V0.5H8V1.5H4V0.5H3V1.5H2.5C1.95 1.5 1.5 1.95 1.5 2.5V9.5C1.5 10.05 1.95 10.5 2.5 10.5H9.5C10.05 10.5 10.5 10.05 10.5 9.5V2.5C10.5 1.95 10.05 1.5 9.5 1.5ZM9.5 2.5V3.5H2.5V2.5H9.5ZM2.5 9.5V4.5H9.5V9.5H2.5Z"
                                    fill="#5C5C5C"
                                />
                            </svg>
                            <p>Прием был в ноябре 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="isOpenAppointment">
    <app-appointment></app-appointment>
</ng-container>
