<footer>
    <div class="TopFooter">
        <div class="FirstStr">
            <div class="imgLogo">
                <img src="../../../../../assets/data/image/logo.svg" alt="">
            </div>
            <div class="FirstCol">
                <p>Главная</p>
                <p>О клинике</p>
                <p>Анализы</p>
                <p>Специалисты</p>
                <p>Акции</p>
                <p>Прайс-лист</p>
            </div>
            <div class="SecCol">
                <p>Гастроэнтеролог</p>
                <p>Иммунолог/Аллерголог</p>
                <p>Кардиолог</p>
                <p>Логопед</p>
                <p>Невролог</p>
                <p>Неонатолог</p>
                <p>Нефролог</p>
                <p>Педиатр</p>
                <p>Психолог</p>
                <p>Психотерапевт</p>
                <p>Эндокринолог</p>
            </div>
            <div class="ThreeCol">
                <div class="picstr">
                    <img src="../../../../../assets/data/icon/insta.svg" alt="">
                    <img src="../../../../../assets/data/icon/vk.svg" alt="">
                    <img src="../../../../../assets/data/icon/whatsapp.svg" alt="">
                </div>
                <p>8(8552) 25-05-03</p>
                <p>{{email}}</p>
                <p>будни 09:00 - 17:00</p>
                <p>выходные 09:00 - 17:00</p>
            </div>
        
        </div>
        <div class="SecondStr">
            <div class="First"><p>г.Набережные Челны, ул.Ахметшина, д.116</p></div>
            <div class="Second">
            <p>Оферта</p>
            <p>Политика конфиденциальности</p>
            <p>Политика обработки персональных данных</p>
            </div>
        </div>
    </div>
    <div class="BottomFooter">
        <div class="info">
            <div class="LeftCol">
                <p style="margin-bottom: 7px;">Вся информация, включая цены, предоставлена для ознакомления и не является публичной офертой (ст.435 ГК РФ, cт. 437 ГК РФ)</p>
                <p style="margin-top: 7px;">Необходима консультация специалиста</p>
            </div>
            <div class="RightCol">
                <p>ОГРН 1161690183357, Лицензия №ЛО-16-01-005901
                    © 2021, Clinika03.ru</p>
            </div>
        </div>
    </div>
</footer>
