<div class="page-background">
    <div class="about">
        <div class="title"><h2>Главная / Анализы</h2></div>
        <div class="main">
            <div class="onePart">
                <div class="leftPart">
                    <div class="info">
                        <p style="font-size: 14px;">КЛИНИКА-03 предлагает более</p>
                        <p style="font-size: 26px;">2000 видов </p>
                        <p style="font-size: 14px;">различных лабораторных исследований</p>
                    </div>
                </div>
                <div class="rightPart">
                    <div class="info">
                        <h2>Наиболее востребованные у пациентов услуги:</h2>
                        <div class="list-container">
                            <ul>
                                <li>общеклинический анализ крови и мочи</li>
                                <li>биохимия</li>
                                <li>тесты на гормоны</li>
                                <li>аллергопробы</li>
                                <li>определение резус-фактора и др.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
