<div class="page-background">
    <div class="doctor">
        <div class="title">
            <h2>
                Главная / Специалисты / Гастроэнтеролог / Фамилия Имя Отчество
            </h2>
        </div>
        <div class="main">
            <div class="about">
                <div class="one">
                    <div class="one-info">
                        <div class="avatarka">
                            <img
                                src="assets/data/icon/specialists/ava.png"
                                alt=""
                            />
                        </div>
                        <div class="stars">
                            <img
                                src="assets/data/icon/specialists/звезды.svg"
                                alt=""
                            />
                        </div>
                        <div class="number">
                            <p>222 отзывов</p>
                        </div>
                    </div>
                </div>
                <div class="two">
                    <div class="two-info">
                        <div class="name">
                            <h2>Фамилия Имя Отчество</h2>
                        </div>
                        <div class="work">
                            <p>Должность 1. должность 2, должность ....</p>
                            <p>Стаж хх лет</p>
                        </div>
                        <div class="services">
                            <p>Название услуги - 800 руб.</p>
                            <p>Название услуги - 800 руб.</p>
                            <p>Название услуги - 800 руб.</p>
                        </div>
                        <p class="number">+7 (999)-999-99-99</p>
                        <span class="otz-btn">Оставить отзыв</span>
                    </div>
                </div>
                <div class="three">
                    <div class="three-info">
                        <div class="information">
                            <div class="one-row">
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                            </div>
                            <div class="one-row">
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                            </div>
                            <div class="one-row">
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                                <div class="one-object"></div>
                            </div>
                            <div class="title-block">
                                <p>время и дни записи</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail">
                <div class="education">
                    <h2>Квалификация и образование</h2>
                    <div class="education-spisok">
                        <p>
                            2003 год - Казанский государственный медицинский
                            университет (педиатрия) Базовое образование
                        </p>
                        <p>
                            2003 год - Казанский государственный медицинский
                            университет (педиатрия) Базовое образование
                        </p>
                        <p>
                            2003 год - Казанский государственный медицинский
                            университет (педиатрия) Базовое образование
                        </p>
                    </div>
                </div>

                <div class="otz-spisok">
                    <div class="otz-spisok-title">
                        <h2>Отзывы</h2>
                    </div>
                    <div class="otz-spisok-top">
                        <p class="otz-spisok-top-name">Оценка:</p>
                        <p class="otz-all">Все 68</p>
                        <p class="otz-true">Положительно 68</p>
                        <p class="otz-false">Отрицательно 0</p>
                    </div>
                    <div
                        class="otz-spisok-main"
                        *ngFor="
                            let review of reviews | slice : 0 : displayedReviews
                        "
                    >
                        <div class="spisok-main-left">
                            <p class="otz-role">{{ review.role }}</p>
                            <p class="otz-phonenumber">
                                {{ review.phoneNumber }}
                            </p>
                            <p class="otz-date">{{ review.date }}</p>
                            <p class="otz-time">{{ review.time }}</p>
                        </div>
                        <div class="spisok-main-right">
                            <div class="otz-name">
                                <p>{{ review.name }}</p>
                            </div>
                            <div class="otz-situation">
                                <p>{{ review.situation }}</p>
                            </div>
                            <div class="reception-date">
                                <img
                                    src="assets/data/icon/doctor/Vector (5).svg"
                                    alt=""
                                />
                                <p>{{ review.receptionDate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="button-more">
                        <button (click)="loadMoreReviews()">
                            Загрузить еще
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
