<!-- analyzes.component.html -->
<div class="pg-background">
    <h1 class="title">Анализы</h1>
    <div class="functions">
        <button routerLink="./new">+ Добавить анализ</button>
        <button routerLink="./new-category">+ Добавить категорию</button>
        <button routerLink="./change-category">Изменить категорию</button>
    </div>
    <div class="main-window">
        <div class="spisok">
            <div class="headers">
                <h2>Анализ</h2>
                <h2>Категория</h2>
                <h2>Действия</h2>
            </div>
            <div *ngFor="let request of appointmentRequests" class="request-item" [class.selected]="request.selected" (click)="toggleSelection(request, $event)">
                <input type="checkbox" id="checkbox-{{request.analysis_id}}" [(ngModel)]="request.selected">
                <label for="checkbox-{{request.analysis_id}}"></label>
                <p>{{ request.analysis_name }}</p>
                <p>{{ request.category_name }}</p>
                <div class="actions">
                    <button routerLink="./change" class="edit">Изменить</button>
                    <button (click)="deleteRequest(request.analysis_id)" class="delete">Удалить</button>
                </div>
            </div>
        </div>
        <div class="main-button">
            <button class="select-all" (click)="selectAll()">Выбрать все</button>
            <button class="delete-selected" (click)="deleteSelected()">Удалить выбранные</button>
        </div>
    </div>
</div>
