<div class="page-background">
    <div class="route">Главная / Прайс-лист</div>
    <div class="main">
        <div class="choice-menu">
            <div class="dropdown" *ngIf="isMobile">
                <select (change)="onSelectSpecialistFromDropdown($event)">
                    <option
                        *ngFor="let specialist of specialists; let i = index"
                        [value]="i"
                        [selected]="selectedSpecialist === specialist"
                    >
                        {{ specialist }}
                    </option>
                </select>
            </div>
            <ul *ngIf="!isMobile">
                <li
                    *ngFor="let specialist of specialists; let i = index"
                    (click)="onSelectSpecialistFromList(specialist)"
                    [class.selected]="selectedSpecialist === specialist"
                    class="menu-item"
                >
                    {{ specialist }}
                </li>
            </ul>
        </div>
        <div class="main-service">
            <div class="services">
                <div *ngFor="let service of selectedService?.services" class="service-item">
                    <div class="service-name">{{ service.name }}</div>
                    <div class="service-divider"></div>
                    <div class="service-price">{{ service.price }}р.</div>
                </div>
            </div>
        </div>
        <div class="dowload">
            <p class="dow-right" (click)="downloadPriceListFromAssets()">
                Скачать полный прайс-лист
            </p>
        </div>
    </div>
</div>
