<div>
    <div class="burger-wrapper">
        <div class="main-route" *ngIf="currentRoute === '/main'">
            <img
                routerLink="/main"
                src="assets/data/icon/header/logo.svg"
                alt=""
            />
        </div>
        <div class="other-route" *ngIf="currentRoute !== '/main'">
            <div class="upper-header">
                <img
                    routerLink="/main"
                    src="assets/data/icon/header/logo.svg"
                    alt=""
                />
                <h1>
                    КЛИНИКА-
                    <p>03</p>
                </h1>
            </div>
            <div class="page-name-wrapper" [ngClass]="{ scrolled: isScrolled }">
                <div class="page-name">
                    <!-- <h1>{{ pagesList[currentRoute] }}</h1> -->
                    <h1>{{ displayTitle }}</h1>
                </div>
            </div>
        </div>
    </div>

    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
    <label for="menu-icon"></label>
    <nav class="nav">
        <ul>
            <li routerLink="/main" (click)="closeMenu()">Главная</li>
            <li routerLink="/specialists" (click)="closeMenu()">Специалисты</li>
            <li routerLink="/analyzes" (click)="closeMenu()">Анализы</li>
            <li routerLink="/about" (click)="closeMenu()">О клинике</li>
            <li (click)="closeMenu()" routerLink="/stock">Акции</li>
            <li (click)="closeMenu()" routerLink="/price-list">Прайс-лист</li>
            <li class="burger-other">
                <div class="icons">
                    <img src="assets/data/icon/header/whatsapp.svg" alt="" (click)="goToWhatsApp()"  />
                    <img src="assets/data/icon/header/vk.svg" alt="" (click)="goToVk()"/>
                    <img src="assets/data/icon/header/instagram.svg" alt="" (click)="goToInstagram()"/>
                </div>
                <div>
                    <p>г.Набережные Челны, ул.Ахметшина,116</p>
                    <p style="cursor: pointer;" (click)="callPhoneNumber('+79625790503')">+7(962) 579-05-03</p>
                    <p style="cursor: pointer;" (click)="callPhoneNumber('+78552250503')">+7(855) 225-05-03</p>
                </div>
            </li>
        </ul>
    </nav>
</div>
