<footer>
    <div class="top-footer">
        <div class="contact-nav">
            <div class="navbar flex-pos">
                <img
                    routerLink="/main"
                    (click)="openMainRoute()"
                    src="assets/data/icon/header/logo.svg"
                    alt=""
                    class="img-logo"
                />
                <ul>
                    <li routerLink="/main">Главная</li>
                    <li routerLink="/specialists">Специалисты</li>
                    <li routerLink="/analyzes">Анализы</li>
                    <li routerLink="/about">О клинике</li>
                    <li routerLink="/stock">Акции</li>
                    <li routerLink="/price-list">Прайс-лист</li>
                </ul>
            </div>
            <div class="flex-pos">
                <div class="flex-wrap">
                    <ul>
                        <li routerLink="/specialists">Гастроэнтеролог</li>
                        <li routerLink="/specialists">Иммунолог/Аллерголог</li>
                        <li routerLink="/specialists">Кардиолог</li>
                        <li routerLink="/specialists">Логопед</li>
                        <li routerLink="/specialists">Невролог</li>
                        <li routerLink="/specialists">Неонатолог</li>
                    </ul>
                    <ul>
                        <li routerLink="/specialists">Нефролог</li>
                        <li routerLink="/specialists">Педиатр</li>
                        <li routerLink="/specialists">Психолог</li>
                        <li routerLink="/specialists">Психотерапевт</li>
                        <li routerLink="/specialists">Эндокринолог</li>
                    </ul>
                </div>
                <div class="contact-wrap">
                    <div class="picstr">
                        <img src="assets/data/icon/insta.svg" alt="" (click)="goToInstagram()" />
                        <img src="assets/data/icon/vk.svg" alt="" (click)="goToVk()" />
                        <img src="assets/data/icon/whatsapp.svg" alt="" (click)="goToWhatsApp()"/>
                    </div>
                    <ul class="contact">
                        <li>
                            <a class="two" href="tel:+78552250503"
                                >8(855) 225-05-03</a
                            > <br>
                            <a class="two" href="tel:+79625790503"
                                >8(962) 579-05-03</a
                            > <br>
                            <a class="two" href="tel:+79172330503"
                                >8(917) 233-05-03</a
                            >
                        </li>
                        <li>
                            <a href="mailto:{{ email }}">{{ email }}</a>
                        </li>
                        <li>будни 07:00 - 19:00</li>
                        <li>Суббота 08:00 - 16:00</li>
                        <li>Воскресенье 09:00 - 15:00</li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="policy">
            <li class="location" (click)="goToYandex()">
                г.Набережные Челны, ул.Ахметшина, д.116
            </li>
            <a class="no-underline" href="assets/data/pdfs/Политика_в_отношении_обработки_персональных_данных.pdf" target="_blank">
                <li class="text-grey">Политика конфиденциальности</li>
            </a>
            <a class="no-underline" href="assets/data/pdfs/Политика_в_отношении_обработки_персональных_данных.pdf" target="_blank">
                <li class="text-grey">Политика обработки персональных данных</li>
            </a>
            <li>
                *Instagram принадлежит компании Meta, признанной экстремистской
                организацией и запрещенной в РФ
            </li>
        </ul>
    </div>

    <div class="bottom-footer">
        <div class="info info-left">
            <div>
                <p>
                    Вся информация, включая цены, предоставлена для ознакомления
                    и не является публичной офертой (ст.435 ГК РФ, cт. 437 ГК
                    РФ)
                </p>
                <p class="need-info">Необходима консультация специалиста</p>
            </div>
            <div>
                <p>Регистрационный номер лицензии: ЛО-16-01-005901;</p>
                <p>Дата предоставления лицензии: 29.03.2017;</p>
                <p class="footer-text">
                    © 2025, Clinika03.ru,
                    <a 
                        href="https://zilant-it.ru"  
                        target="_blank" 
                        rel="noopener noreferrer"
                        class="footer-link"
                    >
                        created by Zilant
                    </a>
                </p>
            </div>
        </div>
        <div class="info">
            <p>ООО "КЛИНИКА-03" ОГРН - 1223600016001 ИНН - 3665819839</p>
            <div class="diploms">
                <img src="assets/data/image/dyplom 1.svg" alt="" />
                <img src="assets/data/image/dyplom 2.svg" alt="" />
                <img src="assets/data/image/dyplom 3.svg" alt="" />
            </div>
        </div>
    </div>
</footer>
