<footer>
    <div class="top-footer">
        <div class="contact-nav">
            <div class="navbar flex-pos">
                <img
                    routerLink="/main"
                    (click)="openMainRoute()"
                    src="assets/data/icon/header/logo.svg"
                    alt=""
                    class="img-logo"
                />
                <ul>
                    <li routerLink="/main">Главная</li>
                    <li routerLink="/specialists">Специалисты</li>
                    <li routerLink="/analyzes">Анализы</li>
                    <li routerLink="/about">О клинике</li>
                    <li>Акции</li>
                    <li>Прайс-лист</li>
                </ul>
            </div>
            <div class="flex-pos">
                <div class="flex-wrap">
                    <ul>
                        <li>Гастроэнтеролог</li>
                        <li>Иммунолог/Аллерголог</li>
                        <li>Кардиолог</li>
                        <li>Логопед</li>
                        <li>Невролог</li>
                        <li>Неонатолог</li>
                    </ul>
                    <ul>
                        <li>Нефролог</li>
                        <li>Педиатр</li>
                        <li>Психолог</li>
                        <li>Психотерапевт</li>
                        <li>Эндокринолог</li>
                    </ul>
                </div>
                <div class="contact-wrap">
                    <div class="picstr">
                        <img src="assets/data/icon/insta.svg" alt="" />
                        <img src="assets/data/icon/vk.svg" alt="" />
                        <img src="assets/data/icon/whatsapp.svg" alt="" />
                    </div>
                    <ul class="contact">
                        <li>
                            <a class="two" href="tel:+88552250503"
                                >8(8552) 25-05-03</a
                            >
                        </li>
                        <li>
                            <a href="mailto:{{ email }}">{{ email }}</a>
                        </li>
                        <li>будни 07:00 - 19:00</li>
                        <li>Суббота 09:00 - 19:00</li>
                        <li>Воскресенье 09:00 - 15:00</li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="policy">
            <li class="location" (click)="goToYandex()">
                г.Набережные Челны, ул.Ахметшина, д.116
            </li>
            <li class="text-grey">Оферта</li>
            <li class="text-grey">Политика конфиденциальности</li>
            <li class="text-grey">Политика обработки персональных данных</li>
            <li>
                *Instagram принадлежит компании Meta, признанной экстремистской
                организацией и запрещенной в РФ
            </li>
        </ul>
    </div>

    <div class="bottom-footer">
        <div class="info info-left">
            <div>
                <p>
                    Вся информация, включая цены, предоставлена для ознакомления
                    и не является публичной офертой (ст.435 ГК РФ, cт. 437 ГК
                    РФ)
                </p>
                <p class="need-info">Необходима консультация специалиста</p>
            </div>
            <div>
                <p>Регистрационный номер лицензии: ЛО-16-01-005901;</p>
                <p>Дата предоставления лицензии: 29.03.2017;</p>
                <p>© 2024, Clinika03.ru</p>
            </div>
        </div>
        <div class="info">
            <p>ООО "КЛИНИКА-03" ОГРН - 1223600016001 ИНН - 3665819839</p>
            <div class="diploms">
                <img src="assets/data/image/dyplom 1.svg" alt="" />
                <img src="assets/data/image/dyplom 2.svg" alt="" />
                <img src="assets/data/image/dyplom 3.svg" alt="" />
            </div>
            <div class="taxes-info">
                <p>Справка для налоговой</p>
                <p>Смотреть все реквизиты и правовую информацию</p>
            </div>
        </div>
    </div>
</footer>
