<div class="popup-wrapper">
    <div class="lol">
        <div class="zapis">
            <form
                class="main"
                [formGroup]="appointmentForm"
                (ngSubmit)="onSubmit()"
            >
                <div class="top-box">
                    <h2>
                        Заполните и проверьте данные, чтобы записаться к
                        выбранному врачу
                    </h2>
                    <div class="close" (click)="confirmAppointment()">
                        <img src="assets/data/icon/close.svg" alt="" />
                    </div>
                </div>
                <div class="box-main">
                    <div class="main-left">
                        <div class="left-top">
                            <div class="select-container">
                                <select formControlName="speciality" required>
                                    <option value="" disabled selected>
                                        Специальность врача
                                    </option>
                                    <option
                                        *ngFor="
                                            let specialization of categories
                                        "
                                        [value]="specialization"
                                    >
                                        {{ specialization }}
                                    </option>
                                </select>
                                <div
                                    *ngIf="
                                        appointmentForm.get('speciality')
                                            ?.invalid &&
                                        appointmentForm.get('speciality')
                                            ?.touched
                                    "
                                    class="error-l"
                                >
                                    <small>Выберите врача из списка.</small>
                                </div>
                            </div>
                            <div class="select-container">
                                <select
                                    formControlName="doctor"
                                    required
                                    (change)="onSelectDoctor($event)"
                                >
                                    <option value="" disabled selected>
                                        Врач
                                    </option>
                                    <option
                                        *ngFor="let doctor of displayDoctors"
                                        [value]="doctor.full_name"
                                    >
                                        {{ doctor.full_name }}
                                    </option>
                                </select>
                                <div
                                    *ngIf="
                                        appointmentForm.get('doctor')
                                            ?.invalid &&
                                        appointmentForm.get('doctor')?.touched
                                    "
                                    class="error-l"
                                >
                                    <small>Выберите врача из списка.</small>
                                </div>
                            </div>
                            <div class="select-container">
                                <select formControlName="type" required>
                                    <option value="" disabled selected>
                                        Первичный прием
                                    </option>
                                    <option
                                        *ngFor="let type of appointmentTypes"
                                        [value]="type"
                                    >
                                        {{ type }}
                                    </option>
                                </select>
                                <div
                                    *ngIf="
                                        appointmentForm.get('type')?.invalid &&
                                        appointmentForm.get('type')?.touched
                                    "
                                    class="error-l"
                                >
                                    <small>Выберите врача из списка.</small>
                                </div>
                            </div>
                        </div>
                        <div class="date-wrapp" *ngIf="doctorData">
                            <div class="date-block" #dateBlock>
                                <div
                                    class="empty-arrow"
                                    *ngIf="isOpenDayDoctor.currentIndex <= 0"
                                ></div>
                                <div
                                    class="arrow"
                                    (click)="scrollLeft()"
                                    *ngIf="isOpenDayDoctor.currentIndex > 0"
                                >
                                    <svg
                                        width="6"
                                        height="8"
                                        viewBox="0 0 6 8"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M4.8703 7.93594C4.93749 7.93594 5.00625 7.90937 5.05781 7.85781C5.16094 7.75469 5.16094 7.58594 5.05781 7.48281L1.52813 3.95312L5.00625 0.474998C5.10938 0.371873 5.10938 0.203124 5.00625 0.0999985C4.90313 -0.00312662 4.73438 -0.00312662 4.63125 0.0999985L0.964062 3.76562C0.860937 3.86875 0.860937 4.0375 0.964062 4.14062L4.68125 7.85781C4.73437 7.91094 4.80155 7.93594 4.8703 7.93594Z"
                                            fill="#0081EC"
                                        />
                                    </svg>
                                </div>
                                <div
                                    *ngFor="
                                        let day of isOpenDayDoctor.displayedSlots;
                                        let i = index
                                    "
                                    class="date"
                                    (click)="selectDay(i)"
                                    [class.selected]="
                                        isOpenDayDoctor.days[i].isSelect
                                    "
                                >
                                    <p>{{ getDayOfWeekAndMonth(day) }}</p>
                                    <p>{{ day | date : "dd" }}</p>
                                </div>
                                <div
                                    class="empty-arrow"
                                    *ngIf="
                                        isOpenDayDoctor.currentIndex + 7 ===
                                            isOpenDayDoctor.lenght ||
                                        isOpenDayDoctor.lenght <= 7
                                    "
                                ></div>
                                <div
                                    class="arrow"
                                    (click)="scrollRight()"
                                    *ngIf="
                                        isOpenDayDoctor.currentIndex + 7 !==
                                            isOpenDayDoctor.lenght &&
                                        isOpenDayDoctor.lenght > 7
                                    "
                                    style="transform: rotate(180deg)"
                                >
                                    <svg
                                        width="6"
                                        height="8"
                                        viewBox="0 0 6 8"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M4.8703 7.93594C4.93749 7.93594 5.00625 7.90937 5.05781 7.85781C5.16094 7.75469 5.16094 7.58594 5.05781 7.48281L1.52813 3.95312L5.00625 0.474998C5.10938 0.371873 5.10938 0.203124 5.00625 0.0999985C4.90313 -0.00312662 4.73438 -0.00312662 4.63125 0.0999985L0.964062 3.76562C0.860937 3.86875 0.860937 4.0375 0.964062 4.14062L4.68125 7.85781C4.73437 7.91094 4.80155 7.93594 4.8703 7.93594Z"
                                            fill="#0081EC"
                                        />
                                    </svg>
                                </div>
                            </div>

                            <div
                                class="time-wrapper"
                                [style.width.px]="dateBlock.offsetWidth"
                            >
                                <div
                                    class="time-slots"
                                    *ngIf="
                                        isOpenDayDoctor.days[
                                            isOpenDayDoctor.currentView
                                        ].isSelect
                                    "
                                >
                                    <div
                                        *ngFor="
                                            let time of isOpenDayDoctor.days[
                                                isOpenDayDoctor.currentView
                                            ].slot;
                                            let c = index
                                        "
                                        class="time-slot"
                                        [class.selected]="
                                            isOpenDayDoctor.days[
                                                isOpenDayDoctor.currentView
                                            ].slot[c]
                                        "
                                        (click)="selectTimeSlot(time.time)"
                                    >
                                        {{ time.time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-right">
                        <div class="select-container">
                            <select formControlName="serviceName" required>
                                <option value="" disabled selected>
                                    Название услуги
                                </option>
                                <option
                                    *ngFor="let service of services"
                                    [value]="service"
                                >
                                    {{ service }}
                                </option>
                            </select>
                            <div
                                *ngIf="
                                    appointmentForm.get('serviceName')
                                        ?.invalid &&
                                    appointmentForm.get('serviceName')?.touched
                                "
                                class="error-l"
                            >
                                <small>Выберите врача из списка.</small>
                            </div>
                        </div>
                        <div class="surname">
                            <input
                                id="surname"
                                formControlName="surname"
                                placeholder="Фамилия"
                                required
                            />
                            <div
                                *ngIf="
                                    appointmentForm.get('surname')?.invalid &&
                                    appointmentForm.get('surname')?.touched
                                "
                                class="error"
                            >
                                <small
                                    >Это поле обязательно для заполнения.</small
                                >
                            </div>
                        </div>
                        <div class="name">
                            <input
                                id="name"
                                formControlName="name"
                                placeholder="Имя"
                                required
                            />
                            <div
                                *ngIf="
                                    appointmentForm.get('name')?.invalid &&
                                    appointmentForm.get('name')?.touched
                                "
                                class="error"
                            >
                                <small
                                    >Это поле обязательно для заполнения.</small
                                >
                            </div>
                        </div>
                        <div class="number-phone">
                            <input
                                id="phone"
                                formControlName="phone"
                                required
                                placeholder="Введите номер телефона"
                            />
                            <div
                                *ngIf="
                                    appointmentForm.get('phone')?.invalid &&
                                    appointmentForm.get('phone')?.touched
                                "
                                class="error"
                            >
                                <small
                                    >Введите корректный номер телефона.</small
                                >
                            </div>
                        </div>
                        <div class="address">
                            <p class="adr">Адрес</p>
                            <p class="adr-data">
                                г.Набережные Челны, ул.Ахметшина, д.116
                            </p>
                        </div>
                        <div class="cost">
                            <p class="co">Стоимость приема</p>
                            <p class="co-data">ххххх руб.</p>
                        </div>
                    </div>
                </div>
                <div class="buttons-for">
                    <div class="agreement">
                        <input
                            type="checkbox"
                            formControlName="consent"
                            id="consent"
                            required
                        />
                        <label for="consent"
                            >даю согласие на обработку персональных данных в
                            соответствии с <br />
                            <p>“Политикой конфиденциальности”.</p>
                        </label>
                        <div
                            *ngIf="
                                appointmentForm.get('consent')?.invalid &&
                                appointmentForm.get('consent')?.touched
                            "
                            class="error"
                        >
                            <small class="error-consent"
                                >Вы должны согласиться на обработку
                                данных.</small
                            >
                        </div>
                    </div>
                    <div class="btn-wrapper">
                        <button
                            type="submit"
                            [disabled]="!appointmentForm.valid"
                        >
                            Отправить
                        </button>
                    </div>
                    <ng-container *ngIf="isSend">
                        <app-push-code></app-push-code>
                    </ng-container>
                </div>
            </form>
        </div>
    </div>
</div>