<div class="header-left-main">
    <div class="basic">
        <p class="title">основное</p>
        <div class="modul-part">
            <img routerLink="./doctors" src="assets/admin-data/icons/врачи.svg" alt="">
            <p routerLink="./doctors">Врачи</p>
        </div>
        <div class="modul-part">
            <img routerLink="./amenities" src="assets/admin-data/icons/анализы.svg" alt="">
            <p routerLink="./amenities">Услуги</p>
        </div>              
        <div class="modul-part">
            <img src="assets/admin-data/icons/прямая запись.svg" alt="">
            <p routerLink="./applications-record">Заявки на запись</p>
        </div>        
        <div class="modul-part">
            <img routerLink="./analyzes" src="assets/admin-data/icons/Услуги.svg" alt="">
            <p routerLink="./analyzes">Анализы</p>
        </div>
        <div class="modul-part">
            <img routerLink="./stocks" src="assets/admin-data/icons/Акции.svg" alt="">
            <p routerLink="./stocks">Акции</p>
        </div>            
    </div>
    <div class="other">
        <p class="title">другое</p>
        <div class="modul-part">
            <img src="assets/admin-data/icons/отзывы.svg" alt="">
            <p>Отзывы</p>
        </div>        
    </div>
</div>