.doctor-block_record {
    @media (min-width: 1600px) {
        margin-right: 10%;
    }

    @media (min-width: 1400px) and (max-width: 1600px) {
        margin-right: 4%;
    }
}

.date-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;

    .select-time {
        font-size: 0.8rem;
        padding: 15px 0;
    }
}

.date-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // gap: 10px;

    & .date {
        user-select: none;
        text-align: center;
        padding: 7px;
        margin: 0 3px;
        border: 1px solid transparent;
        cursor: pointer;
        font-size: 0.6rem;
        width: 35px;

        @media (max-width: 768px) {
            width: 20px;
            padding: 7px 4px;
        }

        @media (max-width: 360px) {
            width: 14px;
            padding: 7px 3px;
            margin: 0 2px;
        }

        &:hover {
            transform: scale(1.02);
            background-color: #7eb3c1;
            border-radius: 8px;
            p {
                color: white;
            }
        }
        &.selected {
            p {
                color: black;
            }
            background-color: #ffffff;
            border-radius: 8px 8px 0 0;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 -4px 6px rgba(0, 0, 0, 0.1); /* Слабая тень снизу и сверху */
        }
    }
}

.time-wrapper {
    position: relative;
    & .time-slots {
        display: flex;
        flex-wrap: wrap;

        background-color: #fff;
        box-shadow: 0px 2px 4.8px 0px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        padding: 10px 20px;
        gap: 10px;
        & .time-slot {
            background-color: #7eb3c1;
            color: white;
            font-weight: 600;
            font-size: 0.7rem;
            padding: 10px;
            border-radius: 3px;
            user-select: none;
            cursor: pointer;
        }
    }
}

.empty-arrow {
    min-width: 30px;
    height: 30px;
}

.arrow {
    cursor: pointer;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    box-shadow: 0px 2px 4.8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50%;

    svg {
        margin: 11px 12px;
    }

    &:hover {
        background-color: #7eb3c1;
        svg path {
            fill: white;
        }
    }
}
