<div class="colm-vert--cent main-about-company">
    <div class="main-why-exactly">
        <h1>
            Почему именно
            <h2>Клиника 03</h2>
        </h1>
    </div>
    <div class="main-two-block">
        <div class="first-block">
            <p>
                Мы учитываем
                <span style="font-weight: 600">не только</span> результаты
                диагностики, но и
            </p>
            <div>
                <ul>
                    <li>возраст</li>
                    <li>пол</li>
                    <li>образ жизни</li>
                </ul>
                <ul>
                    <li>факторы внешней среды</li>
                    <li>психологическое состояние</li>
                    <li>привычки и режим питания</li>
                </ul>
            </div>
            <p>собираем информацию о генетике и медицинской истории пациента</p>
        </div>
        <div class="second-block">
            <img src="assets/data/icon/other/doctor.svg" alt="" />
            <div>
                <h2>Опытные врачи</h2>
                <p>
                    У нас вы можете записаться на прием к высококлассным
                    специалистам на любое удобное для вас время!
                </p>
            </div>
        </div>
    </div>
    <div class="main-goals">
        <h2 style="font-size: 15px">
            Помогаем правильно поставить цели и составляем план лечения. Нас
            рекомендуют уже тысячи пациентов
        </h2>
    </div>
</div>
