.main-window {
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 1);
    width: calc(96vw - 240px);
    height: calc(96vh - 180px);
    position: relative; 
}

.spisok {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    height: calc(96vh - 150px - 100px);
    overflow-y: auto;
}

.headers {
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    .doctor-inf{
        font-size: 18px;
        font-weight: bold;
        margin-left: 70px;
    }
    .head-act{
        font-size: 18px;
        font-weight: bold;
        margin-left: auto;
        margin-right: 220px;
    }
}



.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.service-item.selected {
    background-color: rgba(220, 220, 220, 1);
}


.service-item input[type="checkbox"] {
    display: none; /* Скрываем стандартный чекбокс */
}

.service-item input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.service-item input[type="checkbox"]:checked + label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 2px;
}
.ava{
    width: 50px;
    height: auto;
    padding: 5px;
    border-radius: 50px;
}
.doc-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px;
    .name{
        font-size: 22px;
        font-weight: 400;
    }
    .post{
        font-size: 18px;
        font-weight: 300;
    }
    p{
        padding: 5px;
    }
}

.actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right:150px;
}

.actions button {
    background: none;
    border: none;
    color: rgba(68, 62, 62, 1);
    cursor: pointer;
    font-size: 14px;
}

.actions .edit {
    color: rgba(68, 62, 62, 1);
    font-weight: 500;
}

.actions .delete {
    color: rgba(240, 68, 56, 1);
    font-weight: 500;
}